*,
*::before,
*::after{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  box-shadow: 13px 15px 30px -15px;
}

#carousel-example-generic{
  margin-bottom: 1em;
}

.lioness{
  max-width: 50%;
  float:left;
  margin: 0em 1em 1em 0;
}

.polarBear {
  max-width: 25%;
  float: right;
  margin: 0em 0 1em 1em;
}

.secondText {
  margin-bottom: 2em;
}

@media (max-width: 991px) {

  .polarBear {
    max-width: 35%;
  }
}
